<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>ONESIGNAL</Name>
    <Type>Notifications</Type>
    <ClassName>genexus.common.notifications.onesignal.{procName}</ClassName>
    <Properties>
      <Property>
        <Name>APP_ID</Name>
        <Value>04453574-cfee-45bc-adef-888ecdaa0707</Value>
      </Property>
      <Property>
        <Name>REST_API_KEY</Name>
        <Value>MzcxMmQwYzYtNjUyYi00OTk2LWFjZmQtY2Y1MDIyNjU4NWQ1</Value>
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>